#root {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    display: grid;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

/* .logo:hover {
  filter: drop-shadow(0 0 2em #3B4131);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

main {
    width: 100%;
    height: 100%;
    background-color: #FFF6DB;
}

.profile-pic {
    height: 42.19px;
	transition: 0.25s;
}

#user_pic {
    margin: 18.25px 24px;
}

#user_pic:hover {
    opacity: 0.8;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.post-form {
    display: none;
    position: relative;
    background-color: #ebe0c1;
    box-shadow: 10px 10px 20px rgb(14, 14, 14);
    align-self: center;
    z-index: 1;
    border-radius: 15px;
    overflow-y: auto;
    max-height: 85vh;
    padding: 5px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.post-form::-webkit-scrollbar {
    display: none;
}

.post-form form {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.post-form form * {
    margin: 10px 20px;
    background-color: #3B4131;
    color: #9C9A40;
}

.image-drop {
    border: 1px sold #3B4131;
    width: 400px;
    height: 130px;
    border-radius: 15px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-drop h2, .image-drop p {
    margin: 10px;
}

.image-drop label {
    margin: 0px;
    width: 100%;
}

.image-drop img {
    margin: 0px;
    height: 40px;
    margin-bottom: 0px;
}

.createPostTitle {
    color: #9C9A40;
    border-bottom: 1px solid #3B4131;
    margin: 20px;
}

.file-preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.file-preview-wrapper div, .file-preview-wrapper button {
    margin: 10px
    
}

.file-preview {
    display: flex;
    flex-direction: row;
}

.file-preview-wrapper img {
    height: 50px;
    margin: 10px;
}

#file-upload {
    display: none;
}
