.mainPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.leftPanel, .center, .rightPanel {
    margin: 1rem;
}

.center {
    margin-top: 0px;
}

.leftPanel {
    visibility: visible;
    position: sticky;
    top: 90px;
    width: 20%;
    margin-top: 5px;
}

.feed {
    visibility: visible;
}

.rightPanel {
    visibility: visible;
    position: sticky;
    top: 90px;
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card {
    background-color: #ebe0c1;
    border-radius: 10px;
    width: 680px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 1px 3px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1),
                0 4px 6px rgba(0, 0, 0, 0.05);
  }

.creatPostButton {
    width: 78%;
    border: 1px solid #3B4131;
}

.center div img {
    margin: 0px;
}

.createPostDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.createPostDiv a {
    all: unset;
    height: 44.25px;
}

.createPostDiv img {
    margin-left: 25px;
}

.createPostDiv img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.card * {
    text-align: left;
    margin: 25px;
}

.card h2 {
    align-self: center;
}

.card .buttons {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #3B4131;
    border-bottom: 1px solid #3B4131;
    margin-top: 5px;
    margin-bottom: 0px;
}

.card .buttons * {
    margin: 10px 0px;
}

.stats, .stats * {
    margin: 0px 12.5px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats * {
    cursor: pointer;
}

.comments {
    margin: 0px 25px;
    padding: 10px 0px;
}

.comments a {
    all: unset;
    height: 44.25px;
}

.comments a img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.user_and_comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 5px 0px;
    height: auto;
}

.comment {
    /* border: 1px solid #3B4131; */
    border-radius: 15px;
    padding: 13px;
    font-size: 12px;
    margin: 0px 0px 0px 10px;
    background-color: #dbd0b2;
}

.comment_likes {
    font-size: 12px;
    margin: 0px 0px 0px 55px;
}

.comment_likes button {
    margin: 0px 10px 0px 0px;
    border-radius: 10px;
    padding: 2px 6px;
}

.user_and_post_owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px 0px 25px;
}

.user_and_post_owner a {
    all: unset;
    height: 44.25px;
}

.user_and_post_owner img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.user_and_post_owner * {
    margin: 0px 0px 0px 10px;
}

.post_str, .price_str {
    margin-top: 0px;
}

.media {
    margin: 12px 25px;
}

.comment_obj {
    margin: 10px 0px;
}

.no_comments {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.bdays, .friends, .chats, .chatbox {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    text-align: start;
}

.friends, .chatboxwrapper {
    border-top: 1px solid #3B4131;
}

.friends {
    overflow-y: auto;
}

.friends h3, .bdays h3 {
    margin: 5px 0px 5px 5px;
}

.friend {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 2px 2px 2px 5px;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.25s ease;
    background: linear-gradient(135deg, #FFF6DB, #ebe0c1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bday, .no_bday {
    margin: 2px 2px 2px 10px;
}

.friend:hover {
    background-color: #ebe0c1;
    cursor: pointer;
    transform: translateY(-2px);
    background: linear-gradient(135deg, #ebe0c1, #9C9A40);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.friend img {
    margin: 0px 10px 0px 0px;
}

.friend button {
    display: none;
    margin: 0 0 0 auto;
    padding: 4px 10px 5px;
    border: 1px solid #9c9a40;
    border-radius: 15px;
    font-size: 0.85em;
    background-color: #f5f4e6;
    color: #3B4131;
    transition: all 0.25s ease;
}

.friend:hover button {
    display: inline-block;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.friend button:hover {
    background-color: #9c9a40;
    color: #f5f4e6;
    border: 1px solid transparent;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

#loadingcard, #loadingcard * {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0.6;
    }
}

.banner {
    position: relative;
    height: 225px;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
}

.banner img {
    width: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.banner-overlay, .banner-overlay > img {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-text {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 9;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

.about {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: #ebe0c1;
    background: linear-gradient(180deg, #3b41313a, #ebe0c1);
    border-radius: 10px;
}

.basic_info {
    display: flex;
    flex-direction: row;
    width: 40vw;
}

.profile-pic-container {
    position: relative;
    border-radius: 10px;
    background-color: #FFF6DB;
    height: 245px;
}

.profile-status {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #4caf50;
    color: white;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 15px;
    z-index: 9;
}

.basic_info {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* background: linear-gradient(180deg, #3b41313a, #ebe0c1); */
    border-radius: 10px;
    width: max-content;
    height: max-content;
}

.basic_info img {
    position: relative;
    border-radius: 50%;
    width: 225px;
    height: 225px;
    margin: 10px;
}

.basic_info img:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.extra_info {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 10px 0px;
    padding: 0px 10px;
    /* background: linear-gradient(180deg, #3b41313a, #ebe0c1); */
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-image: linear-gradient(#3b413100 2%, #3b4131d2, #3b413100 98%);
    border-image-slice: 1;
}

.extra_info * {
    text-align: left;
    margin: 10px 10px 10px 10px;
    width: max-content;
}

.about_me {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: auto;
    border-radius: 10px;
    margin-top: 10px;
    /* background: linear-gradient(180deg, #3b41313a, #ebe0c1); */
}

.about_me h2 {
    margin: 0px 20px 10px 20px;
    width: max-content;
    text-align: start;
}

.about_me p {
    margin: 10px 20px;
    text-align: start;
}

.name_and_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.name_and_buttons h1 {
    margin: 10px 24px;
}

.name_and_buttons button {
    background-color: #dbd0b2;
}

@media (max-width: 1320px) {
  .basic_info h1, .extra_info {
      margin-right: 100px;
  }
  .about {
    width: 95vw;
  }
}

@media (max-width: 1100px) {
  .basic_info h1, .extra_info {
      margin-right: 20px;
  }
  .about {
    width: 94vw;
  }
}

@media (max-width: 900px) {
    .basic_info h1, .extra_info {
        margin: 10px;
    }
    .about {
      width: 93vw;
    }
    .basic_info img {
        height: 24.9vw;
        width: 24.9vw;
    }
}

@media (max-width: 712px) {
    .basic_info h1, .extra_info {
        margin-left: 30px;
    }
    .about {
        flex-direction: column;
        width: 90vw;
    }
    .basic_info img {
        height: 177px;
        width: 177px;
    }
}

@media (max-width: 712px) {
    .basic_info h1, .extra_info {
        margin-left: 30px;
    }
    .about {
        flex-direction: column;
        width: 90vw;
    }
    .basic_info img {
        height: 177px;
        width: 177px;
    }
    .about_me {
        width: 90vw;
    }
}

.wants-num span, .passes-num span, .comments-num span {
    margin: 0px;
}

.newCommentFormWrapper{
    display: none;
    margin: 0px 25px 5px;
    padding: 10px 0px 0px;
    border-top: #3B4131 1px solid;
    align-items: center;
}

.newCommentFormWrapper input {
    outline: none;
    text-align: start;
    background-color: #dbd0b2;
    border: 0px;
    transition: 0.25s;
    color: #3B4131;
    margin: 0px 0px 0px 10px;
    height: 35px;
    padding: 0px 10px;
    width: 79%;
    border-radius: 10px;
}

.newCommentFormWrapper input::placeholder {
    transition: 0.25s;
    color: #3B413190;
}

.newCommentFormWrapper input:-webkit-autofill, .newCommentFormWrapper input:-webkit-autofill:focus {
    transition: all 0s 600000s !important;
}

.newCommentFormWrapper button {
    margin: 0px 0px 0px 10px;
    text-align: center;
    text-justify: center;
}

.newCommentFormWrapper input:focus {
    background-color: #cec3a4;
}

.comment_likes span {
    margin: 0px;
}

.friends_wrapper {
    min-height: 72vh;
    max-height: 72vh;
    overflow-y: auto;
    padding-bottom: 10px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: 0.25s;
    direction: rtl;
}

.friends_wrapper .friend {
    direction: ltr;
}

.friends_wrapper:hover {
    scrollbar-color: #3B4131 transparent;
}

.comment_button {
    display: flex;
    margin: 0px;
    flex-direction: column;
    height: 55px;
    justify-content: space-between;
    position: relative;
    left: -10px;
}

.comment_button button {
    margin: 0px;
    padding: 0px 2px;
    text-align: center;
    font-size: 8pt;
    background-color: #c2b494;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-top: 20px;
    margin: 0px;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots {
    text-align: center;
    margin-top: 20px;
}
  
.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
}
  
.dot.active {
    background-color: #333;
  }

.pricetag {
    margin: 0px 25px 25px 25px;
}

#emptyDiv {
    margin: 12.5px;
}

.tooltip div {
    margin: 0px;
}

.tooltip {
    position: absolute;
    background: linear-gradient(135deg, #FFF6DB, #ebe0c1);
    color: #3B4131;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px) translateX(-40%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

@media (max-width: 1320px) {
    .card {
        width: 51.5vw;
        max-width: 680px;
    }
    .basic_info h1, .extra_info {
        margin-right: 50px;
    }
  }

  @media (max-width: 1100px) {
    .leftPanel {
        display: none;
    }
    .basic_info h1, .extra_info {
        margin-right: 20px;
    }
  }

  @media (max-width: 900px) {
    .rightPanel {
        display: none;
    }
    .mainPage {
        justify-content: center;
    }
    .card {
        width: 680px;
        margin: 20px 0px;
    }
    .creatPostButton {
        width: 73%;
        margin-left: 15px;
    }
  }

  @media (max-width: 712px) {
    .card {
        width: 90vw;
        margin: 20px 0px;
    }
    .center {
        margin: 0px;
    }
    .creatPostButton {
        width: 68%;
        margin-left: 10px;
    }
  }