.mainPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.leftPanel, .center, .rightPanel {
    margin: 1rem;
}

.center {
    margin-top: 0px;
}

.leftPanel {
    visibility: visible;
    position: sticky;
    top: 90px;
    width: 20%;
    margin-top: 5px;
}

.feed {
    visibility: visible;
}

.rightPanel {
    visibility: visible;
    position: sticky;
    top: 90px;
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card {
    background-color: #ebe0c1;
    border-radius: 10px;
    width: 680px;
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 1320px) {
    .card {
        width: 51.5vw;
        max-width: 680px;
    }
    .basic_info h1, .extra_info {
        margin-right: 100px;
    }
  }

  @media (max-width: 1100px) {
    .leftPanel {
        display: none;
    }
    .basic_info h1, .extra_info {
        margin-right: 20px;
    }
  }

  @media (max-width: 900px) {
    .rightPanel {
        display: none;
    }
    .mainPage {
        justify-content: center;
    }
    .card {
        width: 680px;
        margin: 20px 0px;
    }
  }

  @media (max-width: 712px) {
    .card {
        width: 90vw;
        margin: 20px 0px;
    }
    .center {
        margin: 0px;
    }
  }

.center div img {
    margin: 0px;
}

.creatPostButton {
    width: 78%;
    border: 1px solid #3B4131;
}

.createPostDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.createPostDiv a {
    all: unset;
    height: 44.25px;
}

.createPostDiv img {
    margin-left: 25px;
}

.createPostDiv img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.card * {
    text-align: left;
    margin: 25px;
}

.card h2 {
    align-self: center;
}

.card .buttons {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #3B4131;
    border-bottom: 1px solid #3B4131;
    margin-top: 5px;
    margin-bottom: 0px;
}

.card .buttons * {
    margin: 10px 0px;
}

.stats, .stats * {
    margin: 0px 12.5px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats * {
    cursor: pointer;
}

.comments {
    margin: 0px 25px;
    padding: 10px 0px;
}

.comments a {
    all: unset;
    height: 44.25px;
}

.comments a img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.user_and_comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 5px 0px;
    height: auto;
}

.comment {
    /* border: 1px solid #3B4131; */
    border-radius: 15px;
    padding: 13px;
    font-size: 12px;
    margin: 0px 0px 0px 10px;
    background-color: #dbd0b2;
}

.comment_likes {
    font-size: 12px;
    margin: 0px 0px 0px 55px;
}

.comment_likes button {
    margin: 0px 10px 0px 0px;
    border-radius: 10px;
    padding: 2px 6px;
}

.user_and_post_owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px 0px 25px;
}

.user_and_post_owner a {
    all: unset;
    height: 44.25px;
}

.user_and_post_owner img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.user_and_post_owner * {
    margin: 0px 0px 0px 10px;
}

.post_str {
    margin-top: 0px;
}

.media {
    margin: 12px 25px;
}

.comment_obj {
    margin: 10px 0px;
}

.no_comments {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.bdays, .friends, .chats, .chatbox {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    text-align: start;
}

.friends, .chatboxwrapper {
    border-top: 1px solid #3B4131;
}

.friends {
    overflow-y: auto;
}

.friends h3, .bdays h3, .chats h3 {
    margin: 5px 0px 5px 5px;
}

.friend, .bday, .no_bday {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 2px 2px 2px 5px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.25s;
}

.bday, .no_bday {
    margin: 2px 2px 2px 10px;
}

.friend:hover {
    background-color: #ebe0c1;
    cursor: pointer;
}

.friend img {
    margin: 0px 10px 0px 0px;
}

#loadingcard, #loadingcard * {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0.6;
    }
}

.banner {
    max-height: 25vh;
    overflow: hidden;
}

.banner img {
    width: 100%;
}

.about {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: #ebe0c1;
    border-radius: 10px;
}

.basic_info {
    display: flex;
    flex-direction: row;
}
.basic_info h1 {
    margin: 10px 200px 20px 40px;
}

.basic_info img {
    border-radius: 200px;
    width: 224px;
    height: 224px;
}

.extra_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px 200px 0px 0px;
}

.extra_info * {
    margin: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.about_me h2 {
    margin: 5px;
    width: max-content;
}

.about_me p {
    margin: 10px;
    margin-right: 20px;
    text-align: start;
}

@media (max-width: 1320px) {
  .basic_info h1, .extra_info {
      margin-right: 100px;
  }
  .about {
    width: 95vw;
  }
}

@media (max-width: 1100px) {
  .basic_info h1, .extra_info {
      margin-right: 20px;
  }
  .about {
    width: 94vw;
  }
}

@media (max-width: 900px) {
    .basic_info h1, .extra_info {
        margin: 10px;
    }
    .about {
      width: 93vw;
    }
    .basic_info img {
        height: 24.9vw;
        width: 24.9vw;
    }
}

@media (max-width: 712px) {
    .basic_info h1, .extra_info {
        margin-left: 30px;
    }
    .about {
        flex-direction: column;
        width: 90vw;
    }
    .basic_info img {
        height: 177px;
        width: 177px;
    }
}

@media (max-width: 712px) {
    .basic_info h1, .extra_info {
        margin-left: 30px;
    }
    .about {
        flex-direction: column;
        width: 90vw;
    }
    .basic_info img {
        height: 177px;
        width: 177px;
    }
}

.wants-num span, .passes-num span, .comments-num span {
    margin: 0px;
}

.newCommentFormWrapper{
    display: none;
    margin: 0px 25px 5px;
    padding: 10px 0px 0px;
    border-top: #3B4131 1px solid;
    align-items: center;
}

.newCommentFormWrapper input {
    outline: none;
    text-align: start;
    background-color: #dbd0b2;
    border: 0px;
    transition: 0.25s;
    color: #3B4131;
    margin: 0px 0px 0px 10px;
    height: 35px;
    padding: 0px 10px;
    width: 79%;
    border-radius: 10px;
}

.newCommentFormWrapper input::placeholder {
    transition: 0.25s;
    color: #3B413190;
}

.newCommentFormWrapper input:-webkit-autofill, .newCommentFormWrapper input:-webkit-autofill:focus {
    transition: all 0s 600000s !important;
}

.newCommentFormWrapper button {
    margin: 0px 0px 0px 10px;
    text-align: center;
    text-justify: center;
}

.newCommentFormWrapper input:focus {
    background-color: #cec3a4;
}

.name_and_buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.name_and_buttons button {
    margin: 8px auto 8px 40px;
    background-color: #dbd0b2;
}

.comment_likes span {
    margin: 0px;
}

.friends_wrapper {
    min-height: 72vh;
    max-height: 72vh;
    overflow-y: auto;
    padding-bottom: 10px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: 0.25s;
    direction: rtl;
}

.friends_wrapper .friend {
    direction: ltr;
}

.friends_wrapper:hover {
    scrollbar-color: #3B4131 transparent;
}
