@font-face {
  font-family: thewire;
  src: url(../fonts/WireOne-Regular.ttf);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(#3B4131, #6b7559b0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
}

a {
  color: #9C9A40;
  text-decoration: inherit;
  cursor: pointer;
  transition: 0.25s;
}
a:hover {
  color: #3B4131;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  /* background: linear-gradient(#3B4131, #3B4131d0); */
  background-color: #dbd0b2;
  cursor: pointer;
  color: #3B4131;
  margin: 1.5rem;
  transition: .25s;
}

@media (max-width: 900px) {
  button {
    margin: 0.5rem;
  }
}

button:hover {
  /* background: linear-gradient(#3B4131d0, #3B4131); */
  background-color: #d1c5a5;
}

.text {
  color: #3B4131;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
