.loginForm {
  width: 25vw;
  min-height: 80vh;
  height: auto;
  align-self: self-start;
  justify-self: center;
  display: grid;
  border-radius: 15px;
  background-color: #FFF6DB;
  padding-bottom: 30px;
  margin: 8vh 0px;
}
  
.loginForm label, .loginForm input {
  display: grid;
  align-self: center;
  justify-self: center;
  width: 80%;
  color: black;
  text-align: center;
  margin: 24px;
}
  
.loginForm label {
  color: #9C9A40;
  text-align: start;
}

.loginForm input {
  outline: none;
  text-align: start;
  background-color: #FFF6DB;
  border: 0px;
  border-bottom: 1px solid #3B4131;
  height: 50px;
  transition: 0.25s;
  color: #3B4131;
}
.loginForm input:hover {
  border-color: #9C9A40;
}

.loginForm input::placeholder {
  transition: 0.25s;
  color: #3B413190;
}

.loginForm input:-webkit-autofill, .loginForm input:-webkit-autofill:focus {
  transition: all 0s 600000s !important;
}

.loginForm a {
  color: #9C9A40;
  width: auto;
  height: auto;
}

.loginForm button {
  color: #9C9A40;
  background-color: #dad2ba;
  border-radius: 25px;
}

.loginForm button:hover {
  color: #3B4131;
  background-color: #9C9A40;
  border-radius: 25px;
}

.loginForm h1 {
  color: #3B4131;
}

@media (max-width: 1500px) {
  .loginForm {
    width: 38vw;
  }
}

@media (max-width: 1024px) {
  .loginForm {
    width: 50vw;
  }
}

@media (max-width: 700px) {
  .loginForm {
    width: 75vw;
  }
}

.settings {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.settings .loginForm {
  margin-top: 0px;
}

.settings-wrapper, .settings-wrapper form {
  border-radius: 15px;
  background-color: #dad2ba;
  margin: 8vh 10vw;
  display: flex;
  flex-direction: column;
}

.loginForm span {
  outline: none;
  text-align: start;
  border: 0px;
  border-bottom: 1px solid #3B4131;
  height: 50px;
  transition: 0.25s;
  color: #3B4131;
  margin: 24px;
  width: 323.188px;
  padding: 1px 2px;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin-left: 10px;
}
  
  /* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
  /* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF6DB;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #3B4131;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #9C9A40;
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #9C9A40;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}
  
  /* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}

.editSwitch {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 10px 24px;
  align-self: flex-end;
}

.picInfo {
  width: 400px;
  margin-left: 100px;
}

.picInfo img {
  width: 400px;
}

header {
  margin: 24px;
}