.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #9C9A40;
    background: linear-gradient(#ffffff00 50%, #ebe0c1);
}

.logo {
    height: 5rem;
    padding: 0.5rem;
}

.searchbar {
    margin: 0px 0px 0px 0.5rem;
}

.searchbar input {
    outline: none;
    text-align: start;
    background-color: #FFF6DB;
    border-radius: 25px;
    border: 1px solid #3B4131;
    height: 40px;
    transition: 0.25s;
    color: #3B4131;
    padding-left: 20px;
}

.searchbar input:hover {
    border-color: #9C9A40;
    background-color: #3B413110;
}

.logo-search {
    width: 300px;
    display: flex;
    align-items: center;
}

.notifications {
    width: 300px;
    display: flex;
    justify-content: end;
}

@media (max-width: 900px) {
    .searchbar {
        display: none;
    }
    .navlinks {
        margin-right: 0rem;
    }
    .logo-search {
        width: 100px;
    }
    .notifications {
        width: 100px;
    }
  }

.profile-pic {
    padding: 0px;
    border-radius: 25px;
    height: 44.25px;
    width: 44.25px;
    margin: 1.5rem;
}

.user_dropdown {
    display: none;
    position: fixed;
    top: 80px;
    right: 20px;
    background-color: #ebe0c1;
    box-shadow: 5px 5px 15px #3B4131;
    border-radius: 10px;
}

.dropdown_buttons {
    display: flex;
    flex-direction: column;
}

.dropdown_buttons * {
    margin: 20px;
}

.status img {
    position: fixed;
    height: 14px;
    top: 60px;
    right: 22px;
    background-color: #3B4131;
    border-radius: 15px;
}
